{% extends "master.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
    <style>
   .container{
       margin-top: 10%;
       margin-left: 20%;
   }
    .table{
        width: 80%;
    }
    </style>
{% endblock %}
{% block title %} Interviews {% endblock %}

    {% block content %}
{% include "sidebar.html" %}
        <div class="container">
                   <a class="btn btn-info justify-content-end"
                   href="{% url "add_interview" %}">Add New Interview</a></div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job Title</th>
      <th scope="col">Name</th>
      <th scope="col">Questions</th>
      <th scope="col">Created By</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
  {% for interview in interviews %}
    <tr>
      <th scope="row">{{ forloop.counter }} </th>
      <td>{{ interview.job.name }}</td>
      <td><a href="{% url "interview" interview.id  %}" style="color: black">{{ interview.title }}</a></td>
      <td>{{ interview.interviewquestions_set.count }}</td>
      <td>{{ interview.created_by }}</td>
      <td>
          <a href="{% url "delete_interview" interview.id %}"><img width="20" height="20" src="{% static "img/remove.svg" %}"></a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>

        </div>
{% endblock %}