{% extends "master.html" %}
{% block title %} AVI Dashboard {% endblock %}
{% block body %}
{% include "sidebar.html" %}
    <style>
    .page-content{
        margin-top: 10%;
        margin-left: 21%;
        display: grid;
    }
    </style>

    <main class="page-content">
    <div class="container-fluid">
<h2>Dashboard</h2>
        <div class="container row " style="">
             <div class="card col-md-4" style="width: 14rem; height: 50%;">
  <div class="card-body">
    <h5 class="card-title">Interviews</h5>
    <p class="card-text">{% ifnotequal interviews 0 %} {{ interviews }} {% else %} 0 {% endifnotequal %}</p>
    <a href="{% url "add_interview" %}" class="btn btn-primary">Create new Interview</a>
  </div>
             </div>
                  <div class="card col-md-4" style="width: 14rem;height: 50%">
  <div class="card-body">
    <h5 class="card-title">Job</h5>
    <p class="card-text">{% ifnotequal jobs 0 %} {{ jobs }} {% else %}0 {% endifnotequal %}</p>
    <a href="{% url "add_job" %}" class="btn btn-primary">Create new Job</a>
  </div>
        </div>
            <div class="card col-md-4" style="width: 14rem;height: 50%">
  <div class="card-body">
    <h5 class="card-title">Videos</h5>
    <p class="card-text">12</p>
    <a href="" class="btn btn-add">Show Videos</a>
  </div>
            </div>
          <footer class="text-center">


      </footer>
    </div>
    </div>
  </main>

{% endblock %}