{% extends "applicant/startinterview.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block questionName %}
    <p style="margin-top: 10px">Question 1</p>
    <hr>
    <h2>{{ question.question }}</h2>

{% endblock %}
{% block section %}
    <div class="col col-md-6" style="font-size: 20px;width: 75%;">
            <ul>
                <li> Description : <span>{{ question.description }}</span></li>
                <li> Duration : <span>{{ question.questDur }}</span></li>
            </ul>
        </div>

        <div class="col col-md-6" id="video"style="margin-top: -6%;display: block">
         <form method="post"  id="myForm" enctype="multipart/form-data">
         <meta name="csrf-token" content="{{ csrf_token }}">
{#         <input type="hidden"name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
                {% csrf_token %}
{#            <img  style="background-color: black" id="img" src="{% static "img/black.jpg" %}" width="500">#}
            <video controls autoplay playsinline  style="width: 100%" id="video"></video>
                      <input type="hidden"name="answerVideo" id="ans">

{#             <input type="hidden"name="applicant" id="app" value="{{ applicant }}">#}
{#             <input type="hidden"name="question" id="ques" value="{{ question.id }}">#}



         <div id="result">

         </div>


            <div class="d-inline-block">
                <button class="btn btn-primary" id="play">Play</button>
                <button class="btn btn-danger" id="pause">Pause</button>
                <a id="download-video" download="test.webm">Download Video</a>

            </div>

                {% if last == "last" %}
                <button class="btn btn-info" style="float:right;" type="submit" id name="end">Submit your application</button>
                {% else %}

                <button class="btn btn-info" style="float:right;" type="submit" id name="next">Next Question</button>
                {% endif %}
            </form>
        </div>
    {% block javascript %}
        <script>

   var video = document.querySelector('video');
var download_link = document.querySelector("#download-video");

function captureCamera(callback) {
    navigator.mediaDevices.getUserMedia({ audio: true, video: true }).then(function(camera) {
        callback(camera);
    }).catch(function(error) {
        alert('Unable to capture your camera. Please check console logs.');
        console.error(error);
    });
}


function stopRecordingCallback() {
    video.src = video.srcObject = null;
    video.muted = false;
    video.volume = 1;
    let blob = URL.createObjectURL(recorder.getBlob());
    download_link.href = blob;
    video.src = blob;
    recorder.camera.stop();
    recorder.destroy();
    recorder = null;


}
var recorder = null; // globally accessible

document.getElementById('play').onclick = function() {
    this.disabled = true;
    captureCamera(function(camera) {
        video.muted = true;
        video.volume = 0;
        video.srcObject = camera;

        recorder = RecordRTC(camera, {
            type: 'video'
        });

        recorder.startRecording();

        // release camera on stopRecording
        recorder.camera = camera;

        document.getElementById('pause').disabled = false;
    });
};

document.getElementById('pause').onclick = function() {

    this.disabled = true;
    document.getElementById("ans").value = video.src
    {#recordedBlob = recorder.blob; // blob property#}
    {##}
    {#    recorderBlob = recorder.getBlob(); // getBlob method#}
    {#    console.log(mediaSource)#}

    recorder.stopRecording(stopRecordingCallback);

}

        </script>
        <script src="{% static "js/RecordRTC.js" %}"></script>
        {% endblock %}
{% endblock %}

